.header {
    background: linear-gradient(90deg, #03041a, #0f2032, #1c283e, #1b406e);
    margin: 0;
    padding: 0;
}

.grid_center h1 {
    color: rgb(10, 161, 207);
    font-size: 3.2rem;
    font-weight: bold;
    padding: 0 0 2rem 0;
}

.social_icons {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}

.footer__social {
    color: white;
    font-size: 2.2rem;
}

.profileCard {
    border-radius: 1rem;
}

.profileCard > img {
    width: 100%;
    
}